@tailwind base;
@tailwind components;
@tailwind utilities;

/*Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input {
  @apply w-full px-4 py-3 rounded-xl bg-white/90 outline-none
  focus:ring-2 focus:ring-purple-500 transition;
}

.btn-primary {
  @apply bg-gradient-to-r from-indigo-600 to-purple-600
  text-white px-6 py-3 rounded-xl font-semibold hover:opacity-90 transition;
}

.btn-secondary {
  @apply bg-gray-200 px-6 py-3 rounded-xl font-semibold hover:bg-gray-300 transition;
}











/* ===== register ===== */
.input {
  @apply w-full px-4 py-3 rounded-xl bg-white/90 outline-none
  focus:ring-2 focus:ring-purple-500 transition;
}

.btn-primary {
  @apply bg-gradient-to-r from-indigo-600 to-purple-600
  text-white px-6 py-3 rounded-xl font-semibold hover:opacity-90 transition;
}

/* ===== login ===== */

.input {
  @apply w-full px-4 py-3 rounded-xl bg-white/90 outline-none
  focus:ring-2 focus:ring-purple-500 transition;
}

.btn-primary {
  @apply bg-gradient-to-r from-indigo-600 to-purple-600
  text-white px-6 py-3 rounded-xl font-semibold hover:opacity-90 transition;
}


/* dashboard */

.input {
  @apply w-full px-4 py-3 rounded-xl bg-white/90 outline-none
  focus:ring-2 focus:ring-purple-500 transition;
}

.btn-primary {
  @apply bg-gradient-to-r from-indigo-600 to-purple-600
  text-white px-6 py-3 rounded-xl font-semibold hover:opacity-90 transition;
}

.btn-secondary {
  @apply bg-gray-200 px-6 py-3 rounded-xl font-semibold hover:bg-gray-300 transition;
}
